<div class="container">
  <h1>Gestión de Relaciones</h1>

  <div class="filters">
    <h2>Filtrar Datos</h2>
    <div class="filter-group">
      <label for="teacherId">Profesor:</label>
      <input
        type="number"
        id="teacherId"
        placeholder="ID del Profesor"
        #teacherId
        (change)="loadCoursesByTeacher(+teacherId.value)"
      />
      <!-- Se realiza una conversión explícita a número usando el operador '+' -->
    </div>
    <div class="filter-group">
      <label for="courseId">Asignatura:</label>
      <input
        type="number"
        id="courseId"
        placeholder="ID de la Asignatura"
        #courseId
        (change)="loadTeachersByCourse(+courseId.value)"
      />
      <!-- Se realiza una conversión explícita a número usando el operador '+' -->
    </div>
    <div class="filter-group">
      <label for="courseGroup">Grupo:</label>
      <input
        type="number"
        id="courseGroup"
        placeholder="Número de Grupo"
        #courseGroup
        (change)="loadStudentsByCourse(+courseId.value, +courseGroup.value)"
      />
      <!-- Se realiza una conversión explícita a número usando el operador '+' -->
    </div>
  </div>

  <div class="data-section">
    <div class="data-block">
      <h3>Cursos</h3>
      <ul>
        <li *ngFor="let course of courses$ | async">{{ course.nom_a }}</li>
      </ul>
    </div>
    <div class="data-block">
      <h3>Profesores</h3>
      <ul>
        <li *ngFor="let teacher of teachers$ | async">{{ teacher.nom_p }}</li>
      </ul>
    </div>
    <div class="data-block">
      <h3>Estudiantes</h3>
      <ul>
        <li *ngFor="let student of students$ | async">{{ student.nom_e }}</li>
      </ul>
    </div>
  </div>
</div>
